Q1. Which keyword is used to create a function? Create a function to return a list of odd numbers in the
range of 1 to 25.

SOL : - def keyword is used to create a function .

In [6]:
l=list(range(1,26))

In [7]:
def test1(l):
    l1 = []    
    for i in l:
        if i % 2 !=0:
            l1.append(i)
    return l1

In [8]:
test1(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

Q2. Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs
to demonstrate their use.

SOL :- 

--> firstly tell about the mean of the star( * ) is that n number of the argument can pass inside the function and passed data is stored as tuple.
--> args is just a convension. we can use any convention that we want.
*args allows us to pass a variable number of non-keyword arguments to a Python function. Non- keyword means that they can be number and string .

In [9]:
def test2(*args,b=25) :
    return args , b

In [10]:
test2("harshit",29,"hi")

(('harshit', 29, 'hi'), 25)

**kwargs allows us to pass a variable number of keyword arguments to a Python function.
--> Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

In [11]:
def fullname(**name):
    word=""
    for i in name.values():
        word = word+i
    return word

In [12]:
fullname(a = "Harshit" , b = " Tagra")

'Harshit Tagra'

Q3. What is an iterator in python? Name the method used to initialise the iterator object and the method
used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,
16, 18, 20].

SOL :-
 Simply with the help of iterator in python we can find the data next to data using next function .
you can simply use next() command or type() command to check whether it is iterator or not . if object is iterable object then we can 
convert it into iterate by passing through iter() function example :string , list are iterable so we can make them iterate 
but integer,floating no are non iterable so they can not be converted to iterate .

In [13]:
l2 = [2,4,6,8,10,12,14,16,18,20]

In [14]:
l3 = iter(l2)

In [15]:
for i in l3:
    if i<=10:
        print(i)

2
4
6
8
10

Q4. What is a generator function in python? Why yield keyword is used? Give an example of a generator
function.

SOL : - A generator function in Python is a special type of function that allows you to generate a sequence of values on-the-fly,
using the "yield" keyword instead of "return". When you call a generator function, 
it returns a generator object that you can iterate over to produce a sequence of values one at a time.
The "yield" keyword is used to specify the value that should be returned from the generator function each time it is called. 
When the generator is iterated over, the function will execute until it reaches a yield statement,
at which point it will return the specified value and pause execution

In [16]:
def cube(n):
    for i in range(n):
        yield i**3

In [17]:
m = cube(10)

In [18]:
for i in m :
    print(i)

0
1
8
27
64
125
216
343
512
729

Q5. Create a generator function for prime numbers less than 1000. Use the next() method to print the
first 20 prime numbers.

In [1]:
def prime_no(n):

    for i in range(2,n):
        flag=0
        for j in range(2,i) :
            if(i%j ==0 ) :
                flag=1
                break
        if flag==0 :
            yield i

In [2]:
num = prime_no(1000)

In [4]:
for i in range(20):
    print(next(num))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [21]:
a,b=0,1
i=0
while i<10:
    print(a)
    c=a+b
    a=b
    b=c
    i=i+1

0
1
1
2
3
5
8
13
21
34

Q7. Write a List Comprehension to iterate through the given string: ‘pwskills’.

Expected output: ['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [22]:
s = "pwskills"

In [23]:
[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

Q8. Write a python program to check whether a given number is Palindrome or not using a while loop.

SOL :- A palindrome is nothing but any number or a string which remains unaltered when reversed.

In [25]:
i = int(input("enter your number:"))
rev=0
x=i
while i > 0:
    rev = (rev*10)+ i % 10
    i=i//10
if x == rev:
    print(rev ," is Palindrome number")
else :
    print (rev ," is not Palindrome number")

enter your number: 3663

3663  is Palindrome number

Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

In [26]:
x = list(range(1,101))

In [27]:
[ i  for i in x if i % 2 !=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]